@{
    Layout = "MyLayout"; 
}

<h2>Pedidos en Preparación</h2>
<table class="table table-bordered table-striped rounded shadow-sm mb-4" style="background-color: #ffffff; color: #333333; border-color: #ccc;">
    <thead class="bg-white text-dark">
        <tr>
            <th>Mesa</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in ViewBag.Pedidos)
        {
            <tr>
                <td>@pedido.id_mesa</td>
                <td>@pedido.estado</td>
                <td>
                    @Html.ActionLink("Detalle", "Detalle", "Cocina", new { id = pedido.id_pedido }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Pedidos en Línea</h2>
<table class="table table-bordered table-striped rounded shadow-sm" style="background-color: #ffffff; color: #333333; border-color: #ccc;">
    <thead class="bg-white text-dark">
        <tr>
            <th>ID Pedido</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in ViewBag.PedidosLinea)
        {
            <tr>
                <td>@pedido.id_pedidoL</td>
                <td>@pedido.estado</td>
                <td>
                    @Html.ActionLink("Detalle", "DetalleL", "Cocina", new { id = pedido.id_pedidoL }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
